/* Signin.css */

.box {
   
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .box h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .box form {
    display: flex;
    flex-direction: column;
  }
  
  .box form div {
    margin-bottom: 10px;
  }
  
  .box label {
    font-weight: bold;
  }
  
  .box input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .box input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .box a {
    color: #007bff;
    text-decoration: none;
  }
  
  .box a:hover {
    text-decoration: underline;
  }
  
  .box button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .box button:hover {
    background-color: #0056b3;
  }
  
  .box p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  